* {
  box-sizing:border-box;
}

@font-face {
font-family: 'MyWebFont';
src: url('myfont.woff2') format('woff2'),
url('myfont.woff') format('woff');
}

body {
  font-family: "PT Sans";
  font-size: 14px;
  color: #333333;
  line-height: 21px;
  text-transform: uppercase;
  width: 100%;
  background-color: #f2f2f2;
}

h1 {
  font-family: "PT Sans";
  font-size: 21px;
  color: #000000;
  line-height: 26px;
  font-weight: bold;
}

h2 {
  font-family: "PT Sans";
  font-size: 21px;
  color: #000000;
  line-height: 26px;
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;

}

.main-header {
  display: flex;
  height: 56px;
}

.main-nav {
  margin-left: -40px;
}

.main-nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.main-nav ul li {
  width: 240px;
  text-align: center;
}

.main-nav a {
  text-decoration: none;
}

.main-nav ul li:nth-child(2) {
  margin-right: 240px;
}

.main-header .header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -69px;
}

.index-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff url("../img/intro-photo.jpg") no-repeat center top;
}

.text-intro {
  width: 458px;
  height: 352px;
  margin-top: 76px;
}

.intro-bottom {
  width: 100%;
  height: 57px;
  margin-top: 23px;
}

.headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1200px;
  height: 216px;
}

.headline h2 {
  text-align: center;
  padding-left: 355px;
  padding-right: 355px;
}

.headline p {
  text-align: center;
  padding-left: 355px;
  padding-right: 355px;
}

.services {
   width: 1200px;
   display: flex;
   justify-content: space-between;
 }

.features-item {
   width: 400px;
   height: 256px;
   padding-top: 37px;

 }

.features-item h2 {
  text-align: center;
  padding-left: 124px;
  padding-right: 124px;
}

.features-item, span {
  text-align: center;
}

.features-item p {
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}

.features-blue {
  background-color: #81b3d2;
  color: #ffffff;
}

.features-gray {
  background-color: #eeeeee;
}

.features-blue h2 {
  color: #ffffff;
}

.service-item {
  text-align: center;
  width: 400px;
  height: 330px;
  align-self: center;
}

.features {
  display: flex;
}

.hotel-search {
  text-align: center;
  width: 100%;
  height: 764px;
}

.order {
  width: auto;
  height: 291px;
}

.order-form {
  text-align: center;
}

footer {
  display: flex;
  align-items: center;
  width: 1200px;
  height: 120px;
  background: rgba(255,255,255, 0,9);
}

.footer-link {
  width: 400px;
  height: auto;
  text-align: center;
}

.footer-social {
  width: 400px;
  height: auto;
  text-align: center;
}

.footer-copyright {
  width: 400px;
  height: auto;
  text-align: center;
}

.choice {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #ffffff;
  background: #ffffff url("../img/filter-background.jpg") no-repeat center top;
}

.choice h2 {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
}

.choice ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.choice form {
  display: flex;
  justify-content: space-between;
  width: auto;
  height: 217px;
  margin-top: 10px;
}

.choice-comfort {
  width: 220px;
  padding-left: 72px;
}

.choice-type {
  width: 220px;
  padding-left: 72px;
}

.choice-price {
  width: 473px;
  margin-left: 251px;
  padding-left: 100px;
}

.sort {
  display: flex;
  justify-content: space-between;
  height: 86px;
  border-bottom: 1px solid #e5e5e5;
}

.sort ul {
  display: inline-block;
  list-style: none;
}

.sort ul li {
  display: inline;
}

.sort span {
  display: inline-block;
}

.sort-finded {
  margin-left: 72px;
  align-self: center;
}

.sort-type {
  width: 769px;
  margin-left: 30px;
  font-size: 12px;
  align-self: center;
}

.sort-up-down {
  width: 183px;
  align-self: center;
}

.hotel-features {
  display: flex;
  height: 152px;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
  padding-top: 30px;
  padding-bottom: 30px;
}

.hotel-features img {
  width: 135px;
  height: auto;
  margin-left: 72px;
}

.hotel-features .hotel-feature {
  width: 769px;
  margin-left: 30px;
}

.hotel-features .hotel-rank {
  width: 183px;
}

.hotel-feature {

}

.hotel-feature a {
  text-decoration: none;
}
